
<!doctype html>
<html lang="en">
  <head>
    <title>Upload CSV</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  <body>
    <div class="container">
    <h1>Upload Solar Exposure Data CSV File</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".csv" required>
      <input type="submit" value="Upload">
    </form>
    {% if session.uploaded_file %}
    <br>
    <a href="{{ url_for('view_data') }}"><button>View Data</button></a>
    <a href="{{ url_for('visualize') }}"><button>Go to Visualization</button></a>
    <a href="{{ url_for('analysis') }}"><button>Go to Analysis</button></a>
    {% endif %}
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>
